<footer id="page-footer" class="p-y-1" >
    <div class="container">
            <div class="col-md-2">
                <div class='logo-bottom'>
                    <img src='http://englishtest.topicanative.edu.vn/theme/boost/img/logo.png' style="width: 100%;" alt='' class='img-logo'/>
                </div>
            </div>
            <div class="col-md-5">
                <div class='gt-topica'>
                    <ul>
                        <li>TOPICA Là đối tác đầu tiên của tập đoàn Voxy (Hoa Kỳ) tại Việt Nam</li>
                        <li>45000+ học viên đã theo học tại TOPICA Native</li>
                        <li>83,7% học viên tăng 200+ điểm nói sau một khóa học</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class='contact-footer'>
                    <div class='icon-contact'>
                        <img src='http://englishtest.topicanative.edu.vn/boost/theme/img/phone.png' style="float:left; width:9%; margin-right: 5px">
                    </div>
                    <div class='list-contact'>

                        <ul>
                            <li>Vietnam: 1800 6885 (nhánh 3)</li>
                            <li>Thailand: +6621054246 (กด 1)</li>
                            <li>Indonesia: +622129223039</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class='link-footer'>
                    <a href='https://www.youtube.com/user/TOPMITO'><i class='fa fa-youtube-play'
                                                                         aria-hidden='true'></i> &nbsp;Youtube</a>
                        <br>
                        <a href='https://www.facebook.com/TOPMITO.edu.vn/?fref=ts'><i class='fa fa-facebook'
                                                                                      aria-hidden='true'></i> &nbsp;&nbsp;&nbsp;Facebook</a>
                        <br>

                </div>
            </div>
    </div>
</footer>