{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
<header role="banner" class="pos-f-t navbar navbar-full navbar-light bg-faded navbar-static-top moodle-has-zindex">

    <div class="container-fluid navbar-nav">

        {{# is_admin }}
        <div class="btn-setting" data-region="drawer-toggle">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn pull-xs-left btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav"><i class="fa fa-cogs fa-spin"></i></button>
        </div>
        {{/ is_admin }}

        <a href="{{{ config.wwwroot }}}" class="navbar-brand {{# output.should_display_navbar_logo }}has-logo{{/ output.should_display_navbar_logo }}">
            {{# output.should_display_navbar_logo }}
                <span class="logo hidden-xs-down">
                    <img src="{{output.get_compact_logo_url}}" alt="{{sitename}}">
                </span>
            {{/ output.should_display_navbar_logo }}
            {{^ output.should_display_navbar_logo }}
            <span class="site-name hidden-sm-down">{{{ sitename }}}</span>
            {{/ output.should_display_navbar_logo }}
        </a>

        <!-- user_menu -->
        {{#userinfo}}
        <div class="usermenu">
            <div class="action-menu moodle-actionmenu nowrap-items" data-enhance="moodle-core-actionmenu">
                <div class="menubar" role="menubar">
                    <div class="dropdown d-inline">
                        <a href="#" class="dropdown-toggle" title="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="userbutton">
                                <span class="usertext">{{userinfo.fullname}}</span>
                                <span class="avatars">
                                    <span class="avatar current">
                                        <img src="{{userinfo.avatar}}" alt="Picture of {{userinfo.fullname}}" title="Picture of {{userinfo.fullname}}" class="userpicture defaultuserpic" width="35" height="35" role="presentation" />
                                    </span>
                                </span>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right menu align-tr-br" data-rel="menu-content" role="menu" data-align="tr-br">
                            {{#menuright}}
                                <a href="{{action}}" class="dropdown-item menu-action" role="menuitem">
                                    <i class="{{icon}} m-r-1"></i>
                                    <span class="menu-action-text">{{name}}</span>
                                </a>
                            {{/menuright}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/userinfo}}

        <!-- search_box -->
        <span class="hidden-md-down">
        {{{ output.search_box }}}
        </span>

        <nav class="nav navbar-nav hidden-md-down">
            <!-- custom_menu -->
            {{{ output.custom_menu }}}
            <!-- page_heading_menu -->
            {{{ output.page_heading_menu }}}
        </nav>
    </div>
</header>

