@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body{ 
}
#title-star{
	background-color: #dbac69;
	padding: 10px;
}
.show-rating
{
	width: 500px;
	text-align: center;
	padding: 0;
}
.tks-gv{
	display: none;
}
.btn-dd{
	width: 50%;
	padding: 10px 0;
	border: none;
	color: #fff;
	background: green;
	cursor: pointer;
	display: none;
	float: none;
	margin: 0 auto;
	border-radius: 5px;
	margin-top: 20px;
}
.tks-itt{
	display: block;
	float: left;
	padding: 2%;
	border: 1px solid transparent;
	cursor: pointer;
}

.submit-star{
	width: 90%;
    padding: 10px 0;
    background: #bebebe;
    cursor: pointer;
    margin: 20px 0 30px 0px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0px;
    display: none;
    outline: none;
}
.rating { 
	border: none;
	float: left;
	padding-right: 67px;
}

.rating > input { 
	display: none; 
} 

.rating > label:before { 
	margin: 5px;
	font-size: 3.00em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.rating > .half:before { 
	content: "\f089";
	position: absolute;
}

.rating > label { 
	color: #ddd; 
	float: right;
}

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { 
	color: #FFD700;  
} 

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked  { 
	color: #FFED85;  
} 

.dgv-p{
	margin-top: 10px;
	font-weight: bold;
	font-size: 18px;
}
#y_kien{
    width: 90%;
    padding: 4px 5% 5% 5%;
    font-style: italic;
    color: #000;
    background-color: #ebebeb;
    border: 0px;
    outline: none;
}

.img-sating{
	width: 40%;
}
.knd{
	padding: 7px;
    background-color: #ebebeb;
    margin: 20px 0px 10px 0;
}
.dr{
	width: 95%;
    display: inline-block;
}
.st_good{
	display: none;
    width: 95%;
    margin: 2.1% 2.5% 0 2.5%
}
.st_good > .row> .btn{
	outline: none;
}
.st_good > .row> .btn16{
	background-color: #d1bf95;
}
.st_good > .row> .btn78{
	background-color: #dbac69;
}
.st_good > .row> .btn910{
	background-color: #b27d47;
}
.note_dg{
	margin : 6%;
	font-size: 80%;
}
.click_dg{
	border: 1px #dbac69 dashed;
    padding: 2%;
    margin: 7.5% 2.5% ;
}
.knd_hover{
	display: none;
	padding: 20px;
	background-color: #fff;
	color: #000;
	font-size: 8px;
}



.tks-itt .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #fff;
    color: #000;
    text-align: left;
    font-size : 12px;
    border-radius: 0 6px 6px 6px;
    padding: 5px 0;
	top: 40%;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    box-shadow: 5px 5px 2px rgba(136, 136, 136, 0.4);
    border: 0.5px solid #ebebeb;
}

.tks-itt:hover .tooltiptext {
    visibility: visible;
}

.note_dg .label_note1 > label , .note_dg .label_note2 > label , .note_dg .label_note3 > label{
	height: 20px;
	width: 20px; 
	margin-bottom: 0px;
	border-radius: 4px;
}

.note_dg .label_note1 > label{
	background-color: #d1bf95;
}
.note_dg .label_note2 > label{
	background-color: #dbac69;
}
.note_dg .label_note3 > label{
	background-color: #b27d47;
}
#start-rating > .row > i{
	font-size: 12px;
}

.status-star1{
	margin-top: 20px; 
	display: inline-block;
}
.status-star2{
	display: none; 
	margin-top: 20px;
}
