@font-face {
    font-family: "Helvetica_Neue";
    src: url(fonts/helvetica_neue/helveticaneue.ttf);

}
#bao_cao_diem_modal .modal-dialog{
    width: 60%;
    font-family: Helvetica_Neue;
}
#bao_cao_diem_modal .modal-content{
    background-color: rgba(0,0,0,.4);
    border-radius: 0;
    border:none;
    overflow: auto;
    top:120px;
}
#bao_cao_diem_modal .modal-header{
    padding: 0;
    border: none;
}
#bao_cao_diem_modal .modal-title{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #dbac69;
    background-color: rgba(0,0,0,.7);
    padding: 7px;
} 
#bao_cao_diem_modal .modal-body{
    color: #000;
    padding: 20px 40px;
}
#bao_cao_diem_modal table,#bao_cao_diem_modal tr,#bao_cao_diem_modal td{
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}
#bao_cao_diem_modal td{
    padding: 5px;
}
#bao_cao_diem_modal table{
    width: 100%;
}
#bao_cao_diem_modal .bg_classy{
    background-color: #dbac69;
}
#bao_cao_diem_modal .bg_e1{
    background-color: #e1e1e1;
    font-weight: bold;
    color: orangered;
}
#bao_cao_diem_modal .text-left{
    text-align: left !important;
}
#bao_cao_diem_modal .equal_width{
    width: 25%;
}
#bao_cao_diem_modal #table2 span{
    font-weight: bold;
}
#bao_cao_diem_modal .white{
    font-weight: bold;
    color: #fff;
}
#bao_cao_diem_modal .part{
    font-size: 18px;
    font-weight: bold;
}
#bao_cao_diem_modal .width_25{
    width: 25%;
}#bao_cao_diem_modal .width_15{
    width: 15%;
}
.talbe_title2{
    margin-top: 30px;
}
#bao_cao_diem_modal #diem td{
    font-size: 16px;
    font-weight: bold;
}
#bao_cao_diem_modal .exit a{
    background-color: #dbac69;
    padding: 7px 30px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
}
#bao_cao_diem_modal .exit{
    margin-top: 30px;
    margin-bottom: 30px;
}
#bao_cao_diem_modal .xem_diem a{
    font-weight: bold;
    color: #fff;
}
#bao_cao_diem_modal .xem_diem a:hover{
    font-weight: bold;
    color: #dbac69;
    text-decoration: underline;
}
.hidden{
    display: none;
}
