
body {
	margin: 0 auto;
	font-family: Arial !important;
}
#page {
	margin: 0 auto;
	position: relative;
	z-index: 1;
	width: 100%;
	float: left;
	background-image: url(img/header-bg.png);
	background-repeat: no-repeat;
}

#container {
	width: 980px;
	margin: 0 auto;

}

.span1 {
	font-weight: bold;
	font-size: 20px;
	color:  #954c4d;
	text-transform: uppercase;
}

.span2 {
	font-weight: bold;
	font-size: 18px;
	color:  #954c4d;
	text-transform: uppercase;
}
/*
Header
*/
.header_logo {
	margin-top: 18px;
}
/*
Container
*/

#wrapper_container {
	margin-top: -40px;
	min-height:435px;
	margin-bottom: 60px;
}

#wrapper_container img {
	float:left;
	margin-right: 30px;
  	/*margin-top: 20px;*/
}
.ablock {
	
	padding-bottom: 20px;
}

#welcome {
	margin-top: 80px;
	border-bottom: 1px solid #c6c4c4;
	font-weight: bold;
	font-size: 18px;
}
.content span {
	/*font-size: 15px;*/
}
.note {
	 color: #9d5e5f;
}

#notification {
	min-height: 150px;
	text-align: center;
	margin-top: 30px;
	background-color: #f8f8f8;
	padding-top: 30px;
	
}

#notification2 {
	text-align: left;
	width: 600px;
	margin: auto;
	margin-top: 80px;
	background-color: #f8f8f8;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	
}

#notification3 {
	text-align: left;
	margin: auto;
	/*margin-top: 30px;*/
	background-color: #f8f8f8;
	/*padding-top: 30px;*/
	padding-left: 30px;
	/*padding-bottom: 30px;*/
	margin-bottom: 20px;
	font-size: 20px;
	min-height: 370px;
}

.answer input {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
}
.btn_que {
	padding: 5px 20px 5px 20px;
	height: 30px;
	color: #fff;
	background-color: #811518;
	text-decoration: none;
	border-radius: 2px;
}

#notification input[type=submit] {
	
	padding: 5px 20px 5px 20px;
	height: 30px;
	color: #fff;
	background-color: #811518;
	text-decoration: none;
	border-radius: 2px;
} 

.quizattempt input[type=submit] {
	margin: 0 auto;
	padding: 5px 20px 5px 20px;
	height: 30px;
	color: #fff;
	background-color: #811518;
	text-decoration: none;
	border-radius: 2px;
} 
.quizstartbuttondiv {
	text-align: center;
}
.submitbtns input[type=submit] {
	margin: 0 auto;
	padding: 5px 20px 5px 20px;
	height: 30px;
	color: #fff;
	background-color: #811518;
	text-decoration: none;
	border-radius: 2px;
}
#responseform .submitbtns input[type=submit] {
        
	float: right !important;
	margin: 0 auto;
	padding: 5px 20px 5px 20px;
	height: 30px;
	color: #fff;
	background-color: #811518;
	text-decoration: none;
	border-radius: 2px;
} 

#main-content {
	text-align: center;
}
/*
Footer
*/
#wrapper_footer {
	border-top : 1px solid #5b0b12;
}
.footer_logo {
	margin-top: 20px;
	float: left;
}


.footer {
	padding-top: 12px; 
}

.footer_info {
	margin-top: 13px;
	margin-left: 400px;
	font-size: 15px;
}
.row1 {
	margin-top: 80px;
}

.login {
	margin-top: 50px;
	height: 180px;
	background-color: #f8f8f8;
}

.login_form {
	padding-top: 35px;
	padding-left: 300px;
}

.login_form p {
	width:337px;
}

.login_form label {
	
}

.login_form input {
	
}

.login_form button {
	background-color: #811518;
	color: #FFFFFF;
	float: right;
	margin-right: 20px;
	height: 30px;
	width: 130px;
}

/*
Ready Page
*/

.btn_form  {
	background-color: #811518;
	color: #FFFFFF;
	float: right;
	margin-right: 20px;
	height: 30px;
	width: 130px;
}

.loginbox .loginform .form-label {
float: left;
text-align: right;
width: 44%;
direction: rtl;
white-space: nowrap;
}
.loginbox .loginform {
margin-top: 1em;
text-align: left;
}
.loginbox .loginform .form-input {

float: right;
width: 55%;
}

#notification3 input[type="text"] {
    width: 100px;
}