{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
<header id="header" role="banner" class="pos-f-t navbar navbar-full navbar-light bg-faded navbar-static-top moodle-has-zindex">

    <div class="container navbar-nav">

        <div data-region="drawer-toggle">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn pull-xs-left m-r-1 btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav"><span aria-hidden="true" class="hidden-xl-down">&#9776;</span><span class="sr-only hidden-xl-down">{{#str}}expand, core{{/str}}</span>
			<span aria-hidden="true"> </span>
		    <span aria-hidden="true"> </span>
		    <span aria-hidden="true"> </span>
			</button>
        </div>

        <!-- user_menu -->
        {{{ output.user_menu }}}

        <!-- navbar_plugin_output -->
        {{{ output.navbar_plugin_output }}}

        <!-- search_box -->
        <span class="hidden-md-down">
        {{{ output.search_box }}}
        </span>
        

       <nav class="nav navbar-nav hidden-xl-down">
		            <a href="#" class="brand" style="display: none;">Title</a>
            <p class="navbar-text"><a href="{{{ config.wwwroot }}}"><i class="fa fa-home"></i> {{ home }}</a></p>
            <div class="nav-collapse collapse navbar-responsive-collapse">
              <p class="navbar-text"><a href="{{{ config.wwwroot }}}"><i class="fa fa-home"></i> {{ home }}</a></p>
			</div>
            <div class="nav-collapse collapse navbar-responsive-collapse">
              <p class="navbar-text"><a href="{{{ config.wwwroot }}}"><i class="fa fa-home"></i> {{ phoneno }}</a></p>
			</div>
	   
            
        </nav>
    </div>
</header>

<div class="header-main">
          <div class="header-main-content">
            <div class="container">
                <div id="logo">
                <a href="{{{ config.wwwroot }}}/?redirect=0" class="navbar-brand {{# logourl }}has-logo{{/ logourl }}
            {{^ logourl }}
                hidden-sm-down
            {{/ logourl }}
                ">
            {{# logourl }}
                <span class="logo">
                    <img src="{{logourl}}" alt="{{sitename}}">
                </span>
            {{/ logourl }}
            {{^ logourl }}
                <span class="site-name hidden-sm-down">{{{ sitename }}}</span>
            {{/ logourl }}
                </a>
				</div>
               
			   {{# compare}}
               
                <div class="navbar">
                            <div class="navbar-inner">
                              
                                           
                              <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>

                    <div class="collapse navbar-toggleable-md" id="navbarResponsive">
                                
                                <!-- custom_menu -->
                {{{ output.custom_menu }}}
                <!-- page_heading_menu -->
                {{{ output.page_heading_menu }}}
                                </div>
                              </div>
                                </div>
                

			    <div class="top-search hidden-xl-down">
                <form action="{{surl}}" method="get">
                    <input type="text" placeholder="{{searchcourses}}" name="search" value="Search courses">
                    <input type="submit" value="Search">
                </form>
                </div>
              </div>
               {{/ compare}}
        </div>
		
        <div class="header-main-menubar hidden-xl-down">
			<div class="container">
                          <div class="navbar">
                            <div class="navbar-inner">
                              
                			  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>

                	<div class="collapse navbar-toggleable-md" id="navbarResponsive">
                                
                                {{{ output.primarymenu}}}
                                </div>
                              </div>
                                </div>
          </div>
        </div>
      </div>
