.footer-icon {
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-family: FontAwesome;
    font-size: 1.5em;
    height: 1.8em;
    line-height: 1.8em;
    margin: 0 0.2em 0.4em;
    text-align: center;
    width: 1.8em;
    text-shadow: none;
}
.footer-icon.website {
    background: linear-gradient(45deg, #f42941 0%, rgba(244, 41, 65, 0.3) 100%);
}
.footer-icon.facebook {
    background: linear-gradient(45deg, #4a6ea9 0%, rgba(74, 110, 169, 0.3) 100%);
}
.footer-icon.twitter {
    background: linear-gradient(45deg, #00aced 0%, rgba(0, 172, 237, 0.3) 100%);
}
.footer-icon.googleplus {
    background: linear-gradient(45deg, #f42941 0%, rgba(244, 41, 65, 0.3) 100%);
}
.footer-icon.flickr {
    background: linear-gradient(45deg, #ff3096 0%, rgba(255, 48, 150, 0.3) 100%);
}
.footer-icon.instagram {
    background: linear-gradient(45deg, #b99c6b 0%, rgba(185, 156, 107, 0.3) 100%);
}
.footer-icon.youtube {
    background: linear-gradient(45deg, #f42941 0%, rgba(244, 41, 65, 0.3) 100%);
}
.footer-icon.pinterest {
    background: linear-gradient(45deg, #f42941 0%, rgba(244, 41, 65, 0.3) 100%);
}
.footer-icon.linkedin {
    background: linear-gradient(45deg, #3e647e 0%, rgba(62, 100, 126, 0.3) 100%);
}
.footer-icon.apple {
    background: linear-gradient(45deg, #747474 0%, rgba(116, 116, 116, 0.3) 100%);
}
.footer-icon.android {
    background: linear-gradient(45deg, #76b900 0%, rgba(118, 185, 0, 0.3) 100%);
}
/*# sourceMappingURL=blockicons.css.map */
