.theme-default #page #page-header::before,
.theme-default .block div.header,
.theme-default .navbar .btn-navbar,
.theme-select-default .preview,
.theme-default #loginone-wrapper #loginbtn {
    background: #fd81b5;
    background: -moz-linear-gradient(45deg, #fd81b5, #c961f7, #8089ff);
    background: -webkit-linear-gradient(45deg, #fd81b5, #c961f7, #8089ff);
    background: linear-gradient(45deg, #fd81b5, #c961f7, #8089ff);
}
.theme-default #loginone-wrapper .login-icone i {
    color: #c961f7;
}
.theme-default #loginone-wrapper {
    background-image: url([[pix:theme|background/c961f7]]);
}
.theme-green1 #page #page-header::before,
.theme-green1 .block div.header,
.theme-green1 .navbar .btn-navbar,
.theme-select-green1 .preview,
.theme-green1 #loginone-wrapper #loginbtn {
    background: #00c3b0;
    background: -moz-linear-gradient(30deg, #00c3b0, #339625);
    background: -webkit-linear-gradient(30deg, #00c3b0, #339625);
    background: linear-gradient(30deg, #00c3b0, #339625);
}
.theme-green1 #loginone-wrapper .login-icone i {
    color: #00c3b0;
}
.theme-green1 #loginone-wrapper {
    background-image: url([[pix:theme|background/00c3b0]]);
}
.theme-green2 #page #page-header::before,
.theme-green2 .block div.header,
.theme-green2 .navbar .btn-navbar,
.theme-select-green2 .preview,
.theme-green2 #loginone-wrapper #loginbtn {
    background: #30e8bf;
    background: -moz-linear-gradient(-45deg, #30e8bf, #ff8235);
    background: -webkit-linear-gradient(-45deg, #30e8bf, #ff8235);
    background: linear-gradient(-45deg, #30e8bf, #ff8235);
}
.theme-green2 #loginone-wrapper .login-icone i {
    color: #30e8bf;
}
.theme-green2 #loginone-wrapper {
    background-image: url([[pix:theme|background/30e8bf]]);
}
.theme-green3 #page #page-header::before,
.theme-green3 .block div.header,
.theme-green3 .navbar .btn-navbar,
.theme-select-green3 .preview,
.theme-green3 #loginone-wrapper #loginbtn {
    background: #00bf8f;
    background: -moz-linear-gradient(-45deg, #00bf8f, #001510);
    background: -webkit-linear-gradient(-45deg, #00bf8f, #001510);
    background: linear-gradient(-45deg, #00bf8f, #001510);
}
.theme-green3 #loginone-wrapper .login-icone i {
    color: #00bf8f;
}
.theme-green3 #loginone-wrapper {
    background-image: url([[pix:theme|background/00bf8f]]);
}
.theme-blue1 #page #page-header::before,
.theme-blue1 .block div.header,
.theme-blue1 .navbar .btn-navbar,
.theme-select-blue1 .preview,
.theme-blue1 #loginone-wrapper #loginbtn {
    background: #007bc3;
    background: -moz-linear-gradient(30deg, #007bc3, #2eb8b7);
    background: -webkit-linear-gradient(30deg, #007bc3, #2eb8b7);
    background: linear-gradient(30deg, #007bc3, #2eb8b7);
}
.theme-blue1 #loginone-wrapper .login-icone i {
    color: #007bc3;
}
.theme-blue1 #loginone-wrapper {
    background-image: url([[pix:theme|background/007bc3]]);
}
.theme-blue2 #page #page-header::before,
.theme-blue2 .block div.header,
.theme-blue2 .navbar .btn-navbar,
.theme-select-blue2 .preview,
.theme-blue2 #loginone-wrapper #loginbtn {
    background: #000428;
    background: -moz-linear-gradient(-45deg, #000428, #0074da);
    background: -webkit-linear-gradient(-45deg, #000428, #0074da);
    background: linear-gradient(-45deg, #000428, #0074da);
}
.theme-blue2 #loginone-wrapper .login-icone i {
    color: #000428;
}
.theme-blue2 #loginone-wrapper {
    background-image: url([[pix:theme|background/000428]]);
}
.theme-blue3 #page #page-header::before,
.theme-blue3 .block div.header,
.theme-blue3 .navbar .btn-navbar,
.theme-select-blue3 .preview,
.theme-blue3 #loginone-wrapper #loginbtn {
    background: #314755;
    background: -moz-linear-gradient(30deg, #314755, #26a0da);
    background: -webkit-linear-gradient(30deg, #314755, #26a0da);
    background: linear-gradient(30deg, #314755, #26a0da);
}
.theme-blue3 #loginone-wrapper .login-icone i {
    color: #314755;
}
.theme-blue3 #loginone-wrapper {
    background-image: url([[pix:theme|background/314755]]);
}
.theme-blue4 #page #page-header::before,
.theme-blue4 .block div.header,
.theme-blue4 .navbar .btn-navbar,
.theme-select-blue4 .preview,
.theme-blue4 #loginone-wrapper #loginbtn {
    background: #03001e;
    background: -moz-linear-gradient(30deg, #03001e, #7303c0, #ec38bc);
    background: -webkit-linear-gradient(30deg, #03001e, #7303c0, #ec38bc);
    background: linear-gradient(30deg, #03001e, #7303c0, #ec38bc);
}
.theme-blue4 #loginone-wrapper .login-icone i {
    color: #7303c0;
}
.theme-blue4 #loginone-wrapper {
    background-image: url([[pix:theme|background/7303c0]]);
}
.theme-blue5 #page #page-header::before,
.theme-blue5 .block div.header,
.theme-blue5 .navbar .btn-navbar,
.theme-select-blue5 .preview,
.theme-blue5 #loginone-wrapper #loginbtn {
    background: #00f0ff;
    background: -moz-linear-gradient(30deg, #00f0ff, #ff00f6);
    background: -webkit-linear-gradient(30deg, #00f0ff, #ff00f6);
    background: linear-gradient(30deg, #00f0ff, #ff00f6);
}
.theme-blue5 #loginone-wrapper .login-icone i {
    color: #00f0ff;
}
.theme-blue5 #loginone-wrapper {
    background-image: url([[pix:theme|background/00f0ff]]);
}
.theme-blue6 #page #page-header::before,
.theme-blue6 .block div.header,
.theme-blue6 .navbar .btn-navbar,
.theme-select-blue6 .preview,
.theme-blue6 #loginone-wrapper #loginbtn {
    background: #83a4d4;
    background: -moz-linear-gradient(30deg, #83a4d4, #b6fbff);
    background: -webkit-linear-gradient(30deg, #83a4d4, #b6fbff);
    background: linear-gradient(30deg, #83a4d4, #b6fbff);
}
.theme-blue6 #loginone-wrapper .login-icone i {
    color: #83a4d4;
}
.theme-blue6 #loginone-wrapper {
    background-image: url([[pix:theme|background/83a4d4]]);
}
.theme-red1 #page #page-header::before,
.theme-red1 .block div.header,
.theme-red1 .navbar .btn-navbar,
.theme-select-red1 .preview,
.theme-red1 #loginone-wrapper #loginbtn {
    background: #c10f41;
    background: -moz-linear-gradient(30deg, #c10f41, #233b88);
    background: -webkit-linear-gradient(30deg, #c10f41, #233b88);
    background: linear-gradient(30deg, #c10f41, #233b88);
}
.theme-red1 #loginone-wrapper .login-icone i {
    color: #c10f41;
}
.theme-red1 #loginone-wrapper {
    background-image: url([[pix:theme|background/c10f41]]);
}
.theme-red2 #page #page-header::before,
.theme-red2 .block div.header,
.theme-red2 .navbar .btn-navbar,
.theme-select-red2 .preview,
.theme-red2 #loginone-wrapper #loginbtn {
    background: #1a2a6c;
    background: -moz-linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
    background: -webkit-linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
}
.theme-red2 #loginone-wrapper .login-icone i {
    color: #b21f1f;
}
.theme-red2 #loginone-wrapper {
    background-image: url([[pix:theme|background/b21f1f]]);
}
.theme-red3 #page #page-header::before,
.theme-red3 .block div.header,
.theme-red3 .navbar .btn-navbar,
.theme-select-red3 .preview,
.theme-red3 #loginone-wrapper #loginbtn {
    background: #ceac7a;
    background: -moz-linear-gradient(-45deg, #ceac7a, #ef629f);
    background: -webkit-linear-gradient(-45deg, #ceac7a, #ef629f);
    background: linear-gradient(-45deg, #ceac7a, #ef629f);
}
.theme-red3 #loginone-wrapper .login-icone i {
    color: #ceac7a;
}
.theme-red3 #loginone-wrapper {
    background-image: url([[pix:theme|background/ceac7a]]);
}
.theme-red4 #page #page-header::before,
.theme-red4 .block div.header,
.theme-red4 .navbar .btn-navbar,
.theme-select-red4 .preview,
.theme-red4 #loginone-wrapper #loginbtn {
    background: #e65c00;
    background: -moz-linear-gradient(30deg, #e65c00, #f9d423);
    background: -webkit-linear-gradient(30deg, #e65c00, #f9d423);
    background: linear-gradient(30deg, #e65c00, #f9d423);
}
.theme-red4 #loginone-wrapper .login-icone i {
    color: #e65c00;
}
.theme-red4 #loginone-wrapper {
    background-image: url([[pix:theme|background/e65c00]]);
}
.theme-red5 #page #page-header::before,
.theme-red5 .block div.header,
.theme-red5 .navbar .btn-navbar,
.theme-select-red5 .preview,
.theme-red5 #loginone-wrapper #loginbtn {
    background: #d12924;
    background: -moz-linear-gradient(30deg, #d12924, #60090c);
    background: -webkit-linear-gradient(30deg, #d12924, #60090c);
    background: linear-gradient(30deg, #d12924, #60090c);
}
.theme-red5 #loginone-wrapper .login-icone i {
    color: #d12924;
}
.theme-red5 #loginone-wrapper {
    background-image: url([[pix:theme|background/d12924]]);
}
.theme-red6 #page #page-header::before,
.theme-red6 .block div.header,
.theme-red6 .navbar .btn-navbar,
.theme-select-red6 .preview,
.theme-red6 #loginone-wrapper #loginbtn {
    background: #ff512f;
    background: -moz-linear-gradient(30deg, #ff512f, #dd2476);
    background: -webkit-linear-gradient(30deg, #ff512f, #dd2476);
    background: linear-gradient(30deg, #ff512f, #dd2476);
}
.theme-red6 #loginone-wrapper .login-icone i {
    color: #ff512f;
}
.theme-red6 #loginone-wrapper {
    background-image: url([[pix:theme|background/ff512f]]);
}
.theme-red7 #page #page-header::before,
.theme-red7 .block div.header,
.theme-red7 .navbar .btn-navbar,
.theme-select-red7 .preview,
.theme-red7 #loginone-wrapper #loginbtn {
    background: #fc354c;
    background: -moz-linear-gradient(30deg, #fc354c, #0abfbc);
    background: -webkit-linear-gradient(30deg, #fc354c, #0abfbc);
    background: linear-gradient(30deg, #fc354c, #0abfbc);
}
.theme-red7 #loginone-wrapper .login-icone i {
    color: #fc354c;
}
.theme-red7 #loginone-wrapper {
    background-image: url([[pix:theme|background/fc354c]]);
}
.theme-red8 #page #page-header::before,
.theme-red8 .block div.header,
.theme-red8 .navbar .btn-navbar,
.theme-select-red8 .preview,
.theme-red8 #loginone-wrapper #loginbtn {
    background: #86377b;
    background: -moz-linear-gradient(30deg, #86377b, #27273c);
    background: -webkit-linear-gradient(30deg, #86377b, #27273c);
    background: linear-gradient(30deg, #86377b, #27273c);
}
.theme-red8 #loginone-wrapper .login-icone i {
    color: #86377b;
}
.theme-red8 #loginone-wrapper {
    background-image: url([[pix:theme|background/86377b]]);
}
.theme-black1 #page #page-header::before,
.theme-black1 .block div.header,
.theme-black1 .navbar .btn-navbar,
.theme-select-black1 .preview,
.theme-black1 #loginone-wrapper #loginbtn {
    background: #070000;
    background: -moz-linear-gradient(135deg, #070000, #4c0001, #070000);
    background: -webkit-linear-gradient(135deg, #070000, #4c0001, #070000);
    background: linear-gradient(135deg, #070000, #4c0001, #070000);
}
.theme-black1 #loginone-wrapper .login-icone i {
    color: #4c0001;
}
.theme-black1 #loginone-wrapper {
    background-image: url([[pix:theme|background/4c0001]]);
}
.theme-select-item {
    float: left;
}
.theme-select-item .preview {
    width: 50px;
    height: 50px;
    margin: 1.5px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}
/*# sourceMappingURL=colors.css.map */
