#loginone-wrapper {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #414658;
    background-color: #fff;
    background-image: url("[[pix:theme|login-background]]");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 2rem;
    position: fixed;
    right: 0;
    top: 0;
}
@media (max-width: 550px) {
    #loginone-wrapper {
        padding: 3%;
    }
}
#loginone-wrapper .row {
    margin-left: 0;
}
#loginone-wrapper .card,
#loginone-wrapper .card-block {
    padding: 0;
    border: 0;
    margin: 0;
}
#loginone-wrapper .text-center {
    text-align: center;
}
#loginone-wrapper p {
    margin-top: 0;
    margin-bottom: 1rem;
}
#loginone-wrapper h2,
#loginone-wrapper .subcontent {
    text-align: left;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin: 0 0 1.3rem;
    padding: 0;
}
#loginone-wrapper h2 {
    text-align: center;
    font-size: 1.975rem;
}
#loginone-wrapper hr {
    display: none;
}
#loginone-wrapper .login-content {
    float: right;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 8rem;
    width: 30rem;
}
@media (max-width: 800px) {
    #loginone-wrapper .login-content {
        float: none;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width: 550px) {
    #loginone-wrapper .login-content {
        width: 100%;
    }
}
#loginone-wrapper .login-inner-wrapper-2 {
    background: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.35);
}
@media (max-width: 550px) {
    #loginone-wrapper .login-inner-wrapper-2 {
        padding: 10px 4%;
    }
}
#loginone-wrapper .login-icone {
    display: inline-block;
    font-size: 50px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100px;
    vertical-align: middle;
}
#loginone-wrapper .login-icone i {
    color: #1976d2;
    font-size: 99px;
}
#loginone-wrapper #username,
#loginone-wrapper #password {
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    padding: 8px 5%;
    width: 90%;
    color: #414658;
}
#loginone-wrapper #loginbtn {
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    transition: all .15s ease-in-out;
    text-transform: capitalize;
    -webkit-appearance: button;
    color: #fff;
    background-color: #0066eb;
    background-image: linear-gradient(to bottom, #0066eb, #0066eb);
    display: block;
    width: 100%;
    padding: .5rem 0;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
#loginone-wrapper #region-main {
    margin-left: 0;
}
#loginone-wrapper #region-main .loginbox {
    margin: 0;
}
.loginbox .loginform .form-label {
    float: none;
    text-align: left;
    width: 100%;
    white-space: nowrap;
}
.loginbox .loginform .form-input {
    float: none;
    width: 100%;
}
.loginbox .forgetpass,
.loginbox .desc {
    text-align: center;
}
/*# sourceMappingURL=login.css.map */
