body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    font-weight: 400;
}
@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
}
*:focus {
    outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 2.46rem;
    font-weight: 400;
}
@media (max-width: 767px) {
    .form-item .form-label label {
        font-weight: bold;
        font-size: 1.1em;
    }
}
/**
 * Topo
 */
header.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 33;
    box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
    -webkit-transition: box-shadow 0.35s ease-out, background-color 0.35s ease-out;
    transition: box-shadow 0.35s ease-out, background-color 0.35s ease-out;
    background-color: #fff;
    color: #414c5a;
    margin-bottom: 0;
}
header.navbar a,
header.navbar span {
    color: rgba(65, 76, 90, 0.85);
    line-height: initial !important;
    font-size: 14px;
}
header.navbar .navbar-inner {
    background: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
header.navbar .navbar-inner .container-fluid {
    margin-top: 0;
    padding: 15px 0;
}
header.navbar .navbar-inner .container-fluid.haslogo img {
    max-height: 36px;
    margin: -8px 0;
}
header.navbar .navbar-inner .container-fluid.haslogo img.logo-title {
    display: inline;
}
header.navbar .navbar-inner .container-fluid.haslogo img.logowhite-title {
    display: none;
}
header.navbar .fullname-container {
    float: left;
}
header.navbar .btn-navbar {
    margin-top: -5px;
}
header.navbar .nav-collapse {
    float: right;
}
header.navbar .nav-collapse .usericon img {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-top: -9px;
    margin-bottom: -9px;
}
header.navbar .nav > li > a {
    padding: 0 15px;
    text-shadow: none;
    background-color: transparent;
}
header.navbar .nav > li > a:focus, header.navbar .nav > li > a:hover {
    color: rgba(65, 76, 90, 0.85);
}
header.navbar .nav li.dropdown > .dropdown-toggle {
    background-color: transparent !important;
    color: rgba(119, 119, 119, 0.85);
}
header.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: rgba(119, 119, 119, 0.85);
    border-bottom-color: rgba(119, 119, 119, 0.85);
}
header.navbar .nav li.dropdown .dropdown-menu,
header.navbar .nav li.dropdown .dropdown-submenu {
    color: rgba(65, 76, 90, 0.85);
}
header.navbar .nav li.dropdown .dropdown-menu:hover > a:after,
header.navbar .nav li.dropdown .dropdown-submenu:hover > a:after {
    border-left-color: rgba(65, 76, 90, 0.85);
}
header.navbar .nav li.dropdown .dropdown-menu .divider,
header.navbar .nav li.dropdown .dropdown-submenu .divider {
    margin: 2px 1px;
}
header.navbar .nav li.dropdown .dropdown-menu a,
header.navbar .nav li.dropdown .dropdown-submenu a {
    color: rgba(65, 76, 90, 0.85);
}
header.navbar .nav li.dropdown .dropdown-menu a:hover, header.navbar .nav li.dropdown .dropdown-menu a:focus,
header.navbar .nav li.dropdown .dropdown-submenu a:hover,
header.navbar .nav li.dropdown .dropdown-submenu a:focus {
    color: rgba(80, 108, 134, 0.85);
    background: transparent;
    filter: none;
}
header.navbar .nav li.dropdown .dropdown-user-menu {
    margin-top: 15px;
    margin-right: 15px;
}
header.navbar.transparent {
    background: transparent;
    box-shadow: none;
    color: #fff;
}
header.navbar.transparent a,
header.navbar.transparent span {
    color: rgba(255, 255, 255, 0.85);
}
header.navbar.transparent .nologo .fullname-container {
    display: none;
}
header.navbar.transparent .haslogo img.logo-title {
    display: none !important;
}
header.navbar.transparent .haslogo img.logowhite-title {
    display: inline !important;
}
header.navbar.transparent .nav > li > a:focus, header.navbar.transparent .nav > li > a:hover {
    color: rgba(255, 255, 255, 0.85);
}
header.navbar.transparent li.dropdown > .dropdown-toggle {
    color: rgba(255, 255, 255, 0.85);
}
header.navbar.transparent li.dropdown > .dropdown-toggle .caret {
    border-top-color: rgba(255, 255, 255, 0.85);
    border-bottom-color: rgba(255, 255, 255, 0.85);
}
#page {
    margin-top: -62px;
    padding: 0 2%;
}
#page #page-header {
    background: url("[[pix:theme|top/header-top]]") center;
    background-size: cover;
    padding: 129px 58px 200px;
    color: #fff;
    position: relative;
    margin: 0 -2.05%;
    overflow: hidden;
}
@media (max-width: 700px) {
    #page #page-header {
        padding: 129px 48px 110px;
    }
}
@media (max-width: 500px) {
    #page #page-header {
        padding: 115px 28px 90px;
    }
    #page #page-header h1 {
        text-align: center;
    }
}
@media (max-width: 450px) {
    #page #page-header {
        padding: 107px 10px 71px;
    }
}
#page #page-header::before {
    display: block;
    content: '';
    height: 100%;
    position: absolute;
    bottom: -1px;
    left: -18%;
    right: -20%;
    z-index: 1;
    opacity: 0.9;
}
#page #page-header::after {
    background: url("[[pix:theme|top/curve-waves]]") repeat-x bottom;
    display: block;
    content: '';
    height: 100%;
    position: absolute;
    bottom: -1px;
    left: -18%;
    right: -20%;
    z-index: 2;
    background-size: contain;
}
#page #page-header > div {
    z-index: 3;
    position: relative;
}
#page #page-header .breadcrumb {
    background-color: rgba(245, 245, 245, 0.15);
}
#page #page-header .breadcrumb > li {
    text-shadow: none;
}
#page #page-header .breadcrumb > li a,
#page #page-header .breadcrumb > li span {
    color: #fff;
}
#page #page-header .breadcrumb > li img.icon {
    filter: brightness(200%);
}
#page #page-header .page-header-image {
    display: none;
}
.area-courses #page #page-header,
.pagelayout-admin #page #page-header,
.pagelayout-mypublic #page #page-header,
.pagelayout-incourse #page #page-header {
    padding: 103px 58px 120px;
}
/**
 * Blocos laterais
 */
.block {
    margin: .5rem 0 1rem 0;
    border: none;
    overflow: hidden;
    position: relative;
    background-color: #f6f7f8;
    padding: 0;
    border-radius: 0.5rem;
}
.block .block_tree ul {
    margin-left: 0;
}
.block div.header {
    border-bottom: 0;
    background: -webkit-linear-gradient(45deg, #fd81b5 0%, #c961f7 100%);
    background: linear-gradient(45deg, #fd81b5 0%, #c961f7 100%);
    min-height: 50px;
    position: relative;
}
.block div.header .block_action {
    padding: 3px 8px 0 0;
}
.block div.header h2 {
    padding: 23px 0 29px;
    font-size: 1.6rem;
    color: #fff;
    font-family: sans-serif, "proxima-nova", "Helvetica Neue", Helvetica, Arial;
    font-weight: 100;
    line-height: 20px;
    text-shadow: none;
    text-transform: none;
    word-wrap: break-word;
    margin: 0;
    text-align: center;
}
.block div.header img,
.block div.header input {
    filter: brightness(200%);
}
.block div.header::after {
    background: url("[[pix:theme|top/curve-layer-gray]]") no-repeat bottom;
    display: block;
    content: '';
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: -6px;
    right: -6px;
    overflow: hidden;
    height: 29px;
}
@media (min-width: 370px) and (max-width: 767px) {
    .block div.header::after {
        height: 100%;
        background: url("[[pix:theme|top/curve-layer-2-gray]]") no-repeat bottom;
        background-size: contain;
    }
}
.block div.header .moodle-actionmenu {
    position: absolute;
    top: 2px;
    right: 39px;
    padding: 0 !important;
}
.block div.header .moodle-actionmenu .menu {
    width: 270px;
    right: -23px;
}
.block div.header .moodle-actionmenu .menu img {
    filter: none;
}
.block .content {
    padding: 0;
}
.block .content .block_tree p.tree_item {
    background-color: #f6f7f8;
    line-height: 1.5rem;
    padding: 1px 20px;
    margin: 0;
    border-bottom: 1px solid rgba(233, 233, 233, 0.25);
    text-indent: 0;
}
.block .content .block_tree p.tree_item[aria-expanded="false"], .block .content .block_tree p.tree_item[aria-expanded="true"] {
    background-position: 16px;
    padding-left: 36px;
}
.block .content .block_tree p.tree_item.root_node {
    background-position: 6px;
}
.block .content .block_tree .depth_1 > p.tree_item.branch {
    padding-left: 20px;
}
.block .content .block_tree ul ul {
    margin-left: 0;
}
.block .content .block_tree ul ul p.tree_item {
    background-position: 16px;
    padding-left: 36px;
}
.block .content .block_tree ul ul p.tree_item[aria-expanded="false"], .block .content .block_tree ul ul p.tree_item[aria-expanded="true"] {
    background-position: 26px;
    padding-left: 46px;
}
.block .content .block_tree ul ul ul p.tree_item {
    background-position: 26px;
    padding-left: 46px;
}
.block .content .block_tree ul ul ul p.tree_item[aria-expanded="false"], .block .content .block_tree ul ul ul p.tree_item[aria-expanded="true"] {
    background-position: 36px;
    padding-left: 56px;
}
.block .content .block_tree ul ul ul ul p.tree_item {
    background-position: 36px;
    padding-left: 56px;
}
.block .content .block_tree ul ul ul ul p.tree_item[aria-expanded="false"], .block .content .block_tree ul ul ul ul p.tree_item[aria-expanded="true"] {
    background-position: 46px;
    padding-left: 66px;
}
.block .content .block_tree ul ul ul ul ul p.tree_item {
    background-position: 46px;
    padding-left: 66px;
}
.block .content .block_tree ul ul ul ul ul p.tree_item[aria-expanded="false"], .block .content .block_tree ul ul ul ul ul p.tree_item[aria-expanded="true"] {
    background-position: 56px;
    padding-left: 76px;
}
.block .content .block_tree ul ul ul ul ul ul p.tree_item {
    background-position: 56px;
    padding-left: 76px;
}
.block .content .block_tree ul ul ul ul ul ul p.tree_item[aria-expanded="false"], .block .content .block_tree ul ul ul ul ul ul p.tree_item[aria-expanded="true"] {
    background-position: 66px;
    padding-left: 86px;
}
.block .content .block_tree ul ul ul ul ul ul ul p.tree_item {
    background-position: 66px;
    padding-left: 86px;
}
.block .content .block_tree ul ul ul ul ul ul ul p.tree_item[aria-expanded="false"], .block .content .block_tree ul ul ul ul ul ul ul p.tree_item[aria-expanded="true"] {
    background-position: 76px;
    padding-left: 96px;
}
.editing .block {
    min-height: 273px;
}
#block-region-content .block .header {
    height: 103px;
}
#block-region-content .block .header h2 {
    padding: 37px 0 29px;
    font-size: 1.8rem;
}
#block-region-content .block .header::after {
    background: url("[[pix:theme|top/curve-layer-2-gray]]") no-repeat bottom;
    background-size: contain;
    height: 59px;
    left: -10px;
    right: -10px;
}
/**
 * Home cursos
 */
.coursebox .content {
    display: flex;
    flex-flow: column;
}
.coursebox .content .summary,
.coursebox .content .teachers {
    float: none;
    width: auto;
}
.coursebox .content .teachers {
    order: 1;
}
.coursebox .content .summary {
    order: 2;
}
.coursebox .content .coursecat {
    width: 60%;
}
.coursebox .content .courseimage {
    width: 36%;
}
.coursebox .content .courseimage img {
    max-width: 200px;
    max-height: 200px;
}
#page-footer {
    margin: 0 -2.05%;
    color: #e1e1e1;
    background: #59687c;
}
#page-footer a {
    color: #fff;
}
#page-footer h5 {
    color: #c6c6c6;
    font-size: 1.6rem;
    font-family: sans-serif, "proxima-nova", "Helvetica Neue", Helvetica, Arial;
}
#page-footer .developer {
    color: #e4e4e4;
    font-size: 0.9em;
    text-align: right;
    margin: 10px 20px;
}
#page-footer .developer .heart {
    color: #af010a;
}
@media (max-width: 767px) {
    fieldset {
        min-width: 200px;
    }
    textarea[cols],
    input[size] {
        max-width: 95%;
    }
}
@media (max-width: 460px) {
    .jsenabled .admin_colourpicker {
        width: 384px;
    }
}
/*setting:customcss*/

/*# sourceMappingURL=style.css.map */
