/* stylelint-disable color-hex-length */
/**
 * Default preset file.
 *
 * Use this space to customise variables, create mixins and override SCSS.
 */

// Colors
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lighter:              #201f1f !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #1177d1 !default;
$brand-info:                #ad53b2 !default;
$brand-success:             #77b300 !default;
$brand-warning:             #ff8800 !default;
$brand-danger:              #ff4136 !default;
$brand-inverse:             $gray-dark !default;
$navbar-height:             60px !default;

// Spacing
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$border-width: 1px !default;

// Body
$body-bg:    #f4f4f4 !default;
$body-color: #dbac69 !default;
//$body-color: #24b365 !default;

// Typography
// toannv3
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-size-root: 14px !default;

// Tables
$table-bg:                      transparent !default;
$table-bg-accent:               #fafafa !default;
$table-bg-hover:                lighten($brand-primary, 55%) !default;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #f4f4f4 !default;

// Dropdowns
$dropdown-border-color:          #e2e2e2 !default;
$dropdown-link-color:            $body-color;

// Navbar
$navbar-light-color:                rgba(0, 0, 0, .535) !default;
$navbar-light-hover-color:          $brand-primary !default;
$navbar-light-active-color:         $brand-primary !default;

// Cards
$card-border-radius:       0 !default;
$card-border-color:        rgba(238, 238, 238, 1) !default;

// Breadcrumbs
$breadcrumb-bg:                 transparent !default;
$breadcrumb-padding-x:          0 !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Import everything.
@import "moodle";

// Ngannk2

body {
    background-size: cover;
    //color: rgba(0,0,0,0.8);
    .card {
        background: rgba(0,0,0,0.8);
        box-shadow: 0px 2px 7px -2px #000;

    }
    .card-block {
        margin-top: 2rem;
    }
}

#page-login-index {
    background-size: 100% auto;
    background: lightblue url("http://englishtest.topicanative.edu.vn/theme/boost/img/BG_Native_test_4.jpeg") no-repeat fixed center;
    #page {
        margin-top: 0;
    }
    .card {
        background: -webkit-linear-gradient(279deg, rgba(6, 31, 65, 0.8) 0%, rgba(0, 6, 15, 0.8) 80%, rgba(0, 1, 5, 0.8) 100%);
        background: -o-linear-gradient(279deg, rgba(6, 31, 65, 0.8) 0%, rgba(0, 6, 15, 0.8) 80%, rgba(0, 1, 5, 0.8) 100%);
        background: -ms-linear-gradient(279deg, rgba(6, 31, 65, 0.8) 0%, rgba(0, 6, 15, 0.8) 80%, rgba(0, 1, 5, 0.8) 100%);
        background: -moz-linear-gradient(279deg, rgba(6, 31, 65, 0.8) 0%, rgba(0, 6, 15, 0.8) 80%, rgba(0, 1, 5, 0.8) 100%);
        background: linear-gradient(171deg, rgba(6, 31, 65, 0.8) 0%, rgba(0, 6, 15, 0.8) 80%, rgba(0, 1, 5, 0.8) 100%);
        box-shadow: 0 0 14px 0 #000;
        border: none;
        width: 50%;
        margin: 2.5rem auto;
    }
    .card-title {
        h2 {
            img {width: 80%;}
        }
    }
    label{
        color: white;
    }
    #loginbtn {
        border-radius: 15px;
    }
}
/**
 * Navigation bar identity.
 */
    .navbar-light {
        //background-color: #fff;
        //ngannk2
        background: -webkit-linear-gradient(279deg, rgba(6, 31, 65, 0.8) 0%, rgba(0, 6, 15, 0.8) 80%, rgba(0, 1, 5, 0.8) 100%);
        background: -o-linear-gradient(279deg, rgba(6, 31, 65, 0.8) 0%, rgba(0, 6, 15, 0.8) 80%, rgba(0, 1, 5, 0.8) 100%);
        background: -ms-linear-gradient(279deg, rgba(6, 31, 65, 0.8) 0%, rgba(0, 6, 15, 0.8) 80%, rgba(0, 1, 5, 0.8) 100%);
        background: -moz-linear-gradient(279deg, rgba(6, 31, 65, 0.8) 0%, rgba(0, 6, 15, 0.8) 80%, rgba(0, 1, 5, 0.8) 100%);
        background: linear-gradient(171deg, rgba(6, 31, 65, 0.8) 0%, rgba(0, 6, 15, 0.8) 80%, rgba(0, 1, 5, 0.8) 100%);
        background-size: cover;
        // border-bottom: $border-width solid #e5e5e5;
        box-shadow: 0 0 14px 0 #000;

        .container {
            padding-left: 0;
            padding-right: 0;
        }

        .navbar-brand {
            padding-left: 1rem;
            padding-right: 1rem;
            margin-right: $spacer * 2;
            color: #fff;
            background-color: $brand-primary;
            @include hover-focus {
                color: #fff;
            }
            &.has-logo {
                color: $brand-primary;
                background-color: transparent;
                @include hover-focus {
                    color: $brand-primary;
                }
                padding-top: 0;
            }
        }

        .navbar-nav {
            .nav-item + .nav-item {
                margin-left: $spacer * 2;
            }
            .nav-link {
                font-size: $font-size-sm;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
// toannv3
#region-main-settings-menu .dropdown-toggle>.icon{
    margin-top: 35px;
}


/**
 * Styling the dropdown menus.
 */
.dropdown-menu {
    font-size: 14px;
    border-radius: 0;
    .dropdown-item {
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: $border-width solid $dropdown-border-color;
        &:last-child {
            border-bottom: 0;
        }
    }
    .dropdown-divider {
        display: none;
    }
}

/**
 * User picture.
 */
.userpicture {
    border-radius: 50%;
}

/**
 * For background in content areas.
 */
#page.container-fluid {
    padding: 0 (2 * $spacer);
}

#block-region-side-pre {
    padding-left: 0;
}

/**
 * Dashboard styling.
 */
#page-my-index {
    #region-main {
        background-color: transparent;
        border: 0;
        padding: 0;
    }
}

/**
 * Blocks.
 */

.block-region .card-block {
    .card-title {
        padding-bottom: ($spacer/2);
        font-size: 1.143rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

/**
 * Navigation.
 */
.block_navigation,
.block_settings {
    .block_tree .tree_item {
        margin: ($spacer/2) 0;
    }
}

#nav-drawer {
    background: transparent;
    .list-group {
        box-shadow: 0px 2px 7px -2px #000;
    }
}

/**
 * Form styles.
 */

.form-group {
    margin-top: ($spacer/2);
}

.form-inline .form-group {
    margin-top: 0;
}

.form-control {
    border-radius: 15px;
    background: rgba(0,0,0,0.2);
    margin-bottom: 7px;
    &:focus {
        color: #fff;
        background-color: rgba(0,0,0,0.2);
        border-color: rgba(0,0,0,0.3);
    }
}





// footer

#page-footer {
    min-height: 80px;
    text-align: left;
    position: relative;
    width: 100%;
    z-index: 1000;
    bottom: 0;
    left: 0;
    color: #dcab69;
    font-size: 15px;
    border-top: 5px solid #dcab69;
    background: #000;
    a{
        color: #dbac69;
        text-decoration: none;
    }
}


//toannv3

.m-b-1 {
    margin-top: 2rem!important;
}


#page-mod-quiz-view .quizinfo{
    visibility: hidden;
}
