/*Scrollbar*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}
@media (max-width: 991px){
    ::-webkit-scrollbar {
        height: 5px;
        width: 5px;
    }
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #dbac69;
}
/*End scrollbar*/
.btn-setting {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.btn-setting button, .btn-setting button:focus {
    border-radius: 50%;
    padding: 10px 11px;
    color: #fff;
    outline: none!important;
}